# Exclude
!/classes/.gitkeep

# Caches
/.cpcache/
/classes
/target/

# Settings
/.clj-kondo/**
/.lsp/
/.nrepl-port

# Client tools and artifacts
/node_modules/
/.shadow-cljs/
/resources/public/js/

# DB
app.db

# Keep linter config
!/.clj-kondo/config.edn

# Keep js libraries
!/resources/public/js/htmx.min.js
