# Exclude
!/classes/.gitkeep

# Emacs files
*.*#
*.el

# Caches
/.cpcache/
/classes
/target/

# Settings
/.clj-kondo/**
/.lsp/
/.nrepl-port

# Client tools and artifacts
/node_modules/
/.shadow-cljs/
/resources/public/js/app

# DB
app.db

# Keep linter config
!/.clj-kondo/config.edn

# Keep js libraries
!/resources/public/js/htmx/
!/resources/public/js/htmx/**
/certs/

# Keep emacs config
!.dir-locals.el
/.clojure-mcp/scratch_pad.edn

# Dictionary build data
/data/
