{"erwischen"
 {:sentence "Ich erwische ihn immer, wenn er zu spät kommt.",
  :translation "Я всегда ловлю его, когда он опаздывает.",
  :structure
  [{:usedForm "ich", :dictionaryForm "ich"}
   {:usedForm "erwische", :dictionaryForm "erwischen"}
   {:usedForm "ihn", :dictionaryForm "er"}
   {:usedForm "immer", :dictionaryForm "immer"}
   {:usedForm "wenn", :dictionaryForm "wenn"}
   {:usedForm "er", :dictionaryForm "er"}
   {:usedForm "zu", :dictionaryForm "zu"}
   {:usedForm "spät", :dictionaryForm "spät"}
   {:usedForm "kommt", :dictionaryForm "kommen"}]},
 "entlassen"
 {:sentence
  "Die Firma hat ihn entlassen, weil die Aufträge zurückgegangen sind.",
  :translation "Компания уволила его, потому что заказы сократились.",
  :structure
  [{:usedForm "die", :dictionaryForm "die"}
   {:usedForm "firma", :dictionaryForm "die Firma"}
   {:usedForm "hat", :dictionaryForm "haben"}
   {:usedForm "ihn", :dictionaryForm "er"}
   {:usedForm "entlassen", :dictionaryForm "entlassen"}
   {:usedForm "weil", :dictionaryForm "weil"}
   {:usedForm "die", :dictionaryForm "die"}
   {:usedForm "aufträge", :dictionaryForm "der Auftrag"}
   {:usedForm "zurückgegangen", :dictionaryForm "zurückgehen"}
   {:usedForm "sind", :dictionaryForm "sein"}]},
 "bedingen"
 {:sentence
  "Die Umstände bedingen oft die Entscheidungen, die wir treffen.",
  :translation
  "Обстоятельства часто определяют решения, которые мы принимаем.",
  :structure
  [{:usedForm "die", :dictionaryForm "die"}
   {:usedForm "umstände", :dictionaryForm "der Umstand"}
   {:usedForm "bedingen", :dictionaryForm "bedingen"}
   {:usedForm "oft", :dictionaryForm "oft"}
   {:usedForm "die", :dictionaryForm "die"}
   {:usedForm "entscheidungen", :dictionaryForm "die Entscheidung"}
   {:usedForm "die", :dictionaryForm "die"}
   {:usedForm "wir", :dictionaryForm "wir"}
   {:usedForm "treffen", :dictionaryForm "treffen"}]},
 "auslachen"
 {:sentence "Die Kinder lachen ihn aus, weil er so komisch aussieht.",
  :translation
  "Дети смеются над ним, потому что он выглядит так смешно.",
  :structure
  [{:usedForm "die", :dictionaryForm "die"}
   {:usedForm "kinder", :dictionaryForm "das Kind"}
   {:usedForm "lachen", :dictionaryForm "lachen"}
   {:usedForm "ihn", :dictionaryForm "er"}
   {:usedForm "aus", :dictionaryForm "aus"}
   {:usedForm "weil", :dictionaryForm "weil"}
   {:usedForm "er", :dictionaryForm "er"}
   {:usedForm "so", :dictionaryForm "so"}
   {:usedForm "komisch", :dictionaryForm "komisch"}
   {:usedForm "aussehen", :dictionaryForm "aussehen"}]},
 "aufpassen"
 {:sentence "Die Kinder müssen beim Spielen aufpassen.",
  :translation "Дети должны быть осторожны во время игры.",
  :structure
  [{:usedForm "aufpassen", :dictionaryForm "aufpassen"}
   {:usedForm "müssen", :dictionaryForm "müssen"}
   {:usedForm "die", :dictionaryForm "der"}
   {:usedForm "Kinder", :dictionaryForm "Kind"}
   {:usedForm "beim", :dictionaryForm "bei"}
   {:usedForm "Spielen", :dictionaryForm "spielen"}]},
 "untereinander"
 {:sentence "Die Schüler arbeiten untereinander sehr gut zusammen.",
  :translation "Ученики очень хорошо работают друг с другом.",
  :structure
  [{:usedForm "untereinander", :dictionaryForm "untereinander"}
   {:usedForm "arbeiten", :dictionaryForm "arbeiten"}
   {:usedForm "sehr", :dictionaryForm "sehr"}
   {:usedForm "gut", :dictionaryForm "gut"}
   {:usedForm "zusammen", :dictionaryForm "zusammen"}
   {:usedForm "die", :dictionaryForm "der"}
   {:usedForm "Schüler", :dictionaryForm "Schüler"}]},
 "bereiten"
 {:sentence "Wir bereiten das Essen für die Feier vor.",
  :translation "Мы готовим еду для праздника.",
  :structure
  [{:usedForm "bereiten", :dictionaryForm "bereiten"}
   {:usedForm "vor", :dictionaryForm "vorbereiten"}
   {:usedForm "das", :dictionaryForm "der"}
   {:usedForm "Essen", :dictionaryForm "Essen"}
   {:usedForm "für", :dictionaryForm "für"}
   {:usedForm "die", :dictionaryForm "der"}
   {:usedForm "Feier", :dictionaryForm "Feier"}
   {:usedForm "wir", :dictionaryForm "wir"}]},
 "auftauchen"
 {:sentence "Plötzlich tauchten die Fische aus dem Wasser auf.",
  :translation "Вдруг рыбы всплыли из воды.",
  :structure
  [{:usedForm "tauchten", :dictionaryForm "auftauchen"}
   {:usedForm "plötzlich", :dictionaryForm "plötzlich"}
   {:usedForm "die", :dictionaryForm "der"}
   {:usedForm "Fische", :dictionaryForm "Fisch"}
   {:usedForm "aus", :dictionaryForm "aus"}
   {:usedForm "dem", :dictionaryForm "der"}
   {:usedForm "Wasser", :dictionaryForm "Wasser"}]},
 "verbringen"
 {:sentence "Wir verbringen die Ferien immer am Meer.",
  :translation "Мы всегда проводим каникулы у моря.",
  :structure
  [{:usedForm "verbringen", :dictionaryForm "verbringen"}
   {:usedForm "Ferien", :dictionaryForm "Ferien"}
   {:usedForm "immer", :dictionaryForm "immer"}
   {:usedForm "am", :dictionaryForm "an"}
   {:usedForm "Meer", :dictionaryForm "Meer"}]},
 "umbringen"
 {:sentence "Er hat versprochen, niemanden umzubringen.",
  :translation "Он пообещал никого не убивать.",
  :structure
  [{:usedForm "hat", :dictionaryForm "haben"}
   {:usedForm "versprochen", :dictionaryForm "versprechen"}
   {:usedForm "niemanden", :dictionaryForm "niemand"}
   {:usedForm "umzubringen", :dictionaryForm "umbringen"}]},
 "hinbringen"
 {:sentence "Kannst du mir bitte das Buch hinbringen?",
  :translation "Можешь, пожалуйста, принести мне книгу?",
  :structure
  [{:usedForm "Kannst", :dictionaryForm "können"}
   {:usedForm "du", :dictionaryForm "du"}
   {:usedForm "mir", :dictionaryForm "ich"}
   {:usedForm "bitte", :dictionaryForm "bitte"}
   {:usedForm "das", :dictionaryForm "der"}
   {:usedForm "Buch", :dictionaryForm "Buch"}
   {:usedForm "hinbringen", :dictionaryForm "hinbringen"}]},
 "gewiss"
 {:sentence
  "Ich bin gewiss, dass wir das Problem gemeinsam lösen können.",
  :translation "Я уверен, что мы сможем решить эту проблему вместе.",
  :structure
  [{:usedForm "gewiss", :dictionaryForm "gewiss"}
   {:usedForm "bin", :dictionaryForm "sein"}
   {:usedForm "dass", :dictionaryForm "dass"}
   {:usedForm "wir", :dictionaryForm "wir"}
   {:usedForm "das", :dictionaryForm "der"}
   {:usedForm "Problem", :dictionaryForm "Problem"}
   {:usedForm "gemeinsam", :dictionaryForm "gemeinsam"}
   {:usedForm "lösen", :dictionaryForm "lösen"}
   {:usedForm "können", :dictionaryForm "können"}]},
 "herausholen"
 {:sentence "Ich werde das Buch aus dem Regal herausholen.",
  :translation "Я достану книгу с полки.",
  :structure
  [{:usedForm "herausholen", :dictionaryForm "herausholen"}
   {:usedForm "werde", :dictionaryForm "werden"}
   {:usedForm "das", :dictionaryForm "der/die/das"}
   {:usedForm "Buch", :dictionaryForm "Buch"}
   {:usedForm "aus", :dictionaryForm "aus"}
   {:usedForm "dem", :dictionaryForm "der/die/das"}
   {:usedForm "Regal", :dictionaryForm "Regal"}]},
 "kaum"
 {:sentence "Es gibt kaum Menschen, die so freundlich sind.",
  :translation "Почти нет людей, которые такие дружелюбные.",
  :structure
  [{:usedForm "kaum", :dictionaryForm "kaum"}
   {:usedForm "gibt", :dictionaryForm "geben"}
   {:usedForm "Menschen", :dictionaryForm "Mensch"}
   {:usedForm "die", :dictionaryForm "der/die/das"}
   {:usedForm "freundlich", :dictionaryForm "freundlich"}
   {:usedForm "sind", :dictionaryForm "sein"}]},
 "profitieren"
 {:sentence "Die Schüler profitieren von den neuen Lehrmethoden.",
  :translation "Ученики извлекают выгоду из новых методов обучения.",
  :structure
  [{:usedForm "profitieren", :dictionaryForm "profitieren"}
   {:usedForm "Die", :dictionaryForm "der/die/das"}
   {:usedForm "Schüler", :dictionaryForm "Schüler"}
   {:usedForm "von", :dictionaryForm "von"}
   {:usedForm "den", :dictionaryForm "der/die/das"}
   {:usedForm "neuen", :dictionaryForm "neu"}
   {:usedForm "Lehrmethoden", :dictionaryForm "Lehrmethode"}]},
 "verhalten"
 {:sentence "Er verhält sich immer höflich gegenüber seinen Gästen.",
  :translation
  "Он всегда ведет себя вежливо по отношению к своим гостям.",
  :structure
  [{:usedForm "verhält", :dictionaryForm "verhalten"}
   {:usedForm "sich", :dictionaryForm "sich"}
   {:usedForm "immer", :dictionaryForm "immer"}
   {:usedForm "höflich", :dictionaryForm "höflich"}
   {:usedForm "gegenüber", :dictionaryForm "gegenüber"}
   {:usedForm "seinen", :dictionaryForm "sein"}
   {:usedForm "Gästen", :dictionaryForm "Gast"}]},
 "eingehen"
 {:sentence
  "Wenn du das Risiko eingehst, musst du die Konsequenzen tragen.",
  :translation
  "Если ты берешь на себя риск, ты должен нести последствия.",
  :structure
  [{:usedForm "eingehst", :dictionaryForm "eingehen"}
   {:usedForm "tragen", :dictionaryForm "tragen"}]},
 "grausam"
 {:sentence "Die grausame Behandlung der Tiere ist inakzeptabel.",
  :translation "Жестокое обращение с животными неприемлемо.",
  :structure
  [{:usedForm "grausame", :dictionaryForm "grausam"}
   {:usedForm "Behandlung", :dictionaryForm "Behandlung"}
   {:usedForm "ist", :dictionaryForm "sein"}
   {:usedForm "inakzeptabel", :dictionaryForm "inakzeptabel"}]},
 "sanft"
 {:sentence "Die sanfte Brise wehte durch die Bäume.",
  :translation "Нежный ветерок дул сквозь деревья.",
  :structure
  [{:usedForm "sanfte", :dictionaryForm "sanft"}
   {:usedForm "wehte", :dictionaryForm "wehen"}
   {:usedForm "durch", :dictionaryForm "durch"}
   {:usedForm "die", :dictionaryForm "der"}
   {:usedForm "Bäume", :dictionaryForm "Baum"}]},
 "begehen"
 {:sentence "Wir begehen den Fehler, wenn wir nicht aufpassen.",
  :translation "Мы совершаем ошибку, если не будем внимательны.",
  :structure
  [{:usedForm "begehen", :dictionaryForm "begehen"}
   {:usedForm "den", :dictionaryForm "der"}
   {:usedForm "Fehler", :dictionaryForm "Fehler"}
   {:usedForm "wenn", :dictionaryForm "wenn"}
   {:usedForm "wir", :dictionaryForm "wir"}
   {:usedForm "nicht", :dictionaryForm "nicht"}
   {:usedForm "aufpassen", :dictionaryForm "aufpassen"}]},
 "gegenseitig"
 {:sentence
  "Die beiden Freunde unterstützen sich gegenseitig in schwierigen Zeiten.",
  :translation "Оба друга поддерживают друг друга в трудные времена.",
  :structure
  [{:usedForm "unterstützen", :dictionaryForm "unterstützen"}
   {:usedForm "sich", :dictionaryForm "sich"}
   {:usedForm "gegenseitig", :dictionaryForm "gegenseitig"}
   {:usedForm "in", :dictionaryForm "in"}
   {:usedForm "schwierigen", :dictionaryForm "schwierig"}
   {:usedForm "Zeiten", :dictionaryForm "Zeit"}]},
 "erniedrigen"
 {:sentence "Es ist nicht richtig, andere Menschen zu erniedrigen.",
  :translation "Неправильно унижать других людей.",
  :structure
  [{:usedForm "ist", :dictionaryForm "sein"}
   {:usedForm "nicht", :dictionaryForm "nicht"}
   {:usedForm "richtig", :dictionaryForm "richtig"}
   {:usedForm "andere", :dictionaryForm "anderer"}
   {:usedForm "Menschen", :dictionaryForm "Mensch"}
   {:usedForm "zu", :dictionaryForm "zu"}
   {:usedForm "erniedrigen", :dictionaryForm "erniedrigen"}]},
 "anpassen"
 {:sentence
  "Es ist wichtig, dass wir unsere Pläne an die neuen Gegebenheiten anpassen.",
  :translation
  "Важно, чтобы мы адаптировали наши планы к новым условиям.",
  :structure
  [{:usedForm "anpassen", :dictionaryForm "anpassen"}
   {:usedForm "ist", :dictionaryForm "sein"}
   {:usedForm "wichtig", :dictionaryForm "wichtig"}
   {:usedForm "dass", :dictionaryForm "dass"}
   {:usedForm "wir", :dictionaryForm "wir"}
   {:usedForm "unsere", :dictionaryForm "unser"}
   {:usedForm "Pläne", :dictionaryForm "Plan"}
   {:usedForm "an", :dictionaryForm "an"}
   {:usedForm "die", :dictionaryForm "der"}
   {:usedForm "neuen", :dictionaryForm "neu"}
   {:usedForm "Gegebenheiten", :dictionaryForm "Gegebenheit"}]},
 "unfassbar"
 {:sentence
  "Die Geschwindigkeit, mit der sich die Technologie entwickelt, ist einfach unfassbar.",
  :translation
  "Скорость, с которой развивается технология, просто невероятна.",
  :structure
  [{:usedForm "unfassbar", :dictionaryForm "unfassbar"}
   {:usedForm "ist", :dictionaryForm "sein"}
   {:usedForm "die", :dictionaryForm "der"}
   {:usedForm "Geschwindigkeit", :dictionaryForm "Geschwindigkeit"}
   {:usedForm "mit", :dictionaryForm "mit"}
   {:usedForm "der", :dictionaryForm "der"}
   {:usedForm "sich", :dictionaryForm "sich"}
   {:usedForm "Technologie", :dictionaryForm "Technologie"}
   {:usedForm "entwickelt", :dictionaryForm "entwickeln"}
   {:usedForm "einfach", :dictionaryForm "einfach"}]},
 "senken"
 {:sentence "Die Preise senken sich, wenn die Nachfrage sinkt.",
  :translation "Цены снижаются, когда спрос падает.",
  :structure
  [{:usedForm "senken", :dictionaryForm "senken"}
   {:usedForm "sich", :dictionaryForm "sich"}
   {:usedForm "die", :dictionaryForm "der"}
   {:usedForm "Preise", :dictionaryForm "Preis"}
   {:usedForm "wenn", :dictionaryForm "wenn"}
   {:usedForm "die", :dictionaryForm "der"}
   {:usedForm "Nachfrage", :dictionaryForm "Nachfrage"}
   {:usedForm "sinkt", :dictionaryForm "sinken"}]},
 "vertrauen"
 {:sentence "Ich vertraue dir, weil du immer ehrlich bist.",
  :translation "Я доверяю тебе, потому что ты всегда честен.",
  :structure
  [{:usedForm "vertraue", :dictionaryForm "vertrauen"}
   {:usedForm "dir", :dictionaryForm "du"}
   {:usedForm "weil", :dictionaryForm "weil"}
   {:usedForm "du", :dictionaryForm "du"}
   {:usedForm "immer", :dictionaryForm "immer"}
   {:usedForm "ehrlich", :dictionaryForm "ehrlich"}
   {:usedForm "bist", :dictionaryForm "sein"}]},
 "mehrfach"
 {:sentence
  "Die Prüfung wurde mehrmals verschoben, was die Schüler frustrierte.",
  :translation
  "Экзамен был несколько раз перенесен, что расстроило учеников.",
  :structure
  [{:usedForm "Prüfung", :dictionaryForm "Prüfung"}
   {:usedForm "wurde", :dictionaryForm "werden"}
   {:usedForm "mehrmals", :dictionaryForm "mehrmals"}
   {:usedForm "verschoben", :dictionaryForm "verschieben"}
   {:usedForm "was", :dictionaryForm "sein"}
   {:usedForm "die", :dictionaryForm "der"}
   {:usedForm "Schüler", :dictionaryForm "Schüler"}
   {:usedForm "frustrierte", :dictionaryForm "frustrieren"}]},
 "begeben"
 {:sentence "Wir begeben uns morgen auf eine spannende Reise.",
  :translation "Мы отправляемся завтра в увлекательное путешествие.",
  :structure
  [{:usedForm "begeben", :dictionaryForm "begeben"}
   {:usedForm "uns", :dictionaryForm "sich"}
   {:usedForm "morgen", :dictionaryForm "morgen"}
   {:usedForm "auf", :dictionaryForm "auf"}
   {:usedForm "eine", :dictionaryForm "ein"}
   {:usedForm "spannende", :dictionaryForm "spannend"}
   {:usedForm "Reise", :dictionaryForm "Reise"}]},
 "vergleichen"
 {:sentence "Wir vergleichen die Preise von verschiedenen Produkten.",
  :translation "Мы сравниваем цены на различные продукты.",
  :structure
  [{:usedForm "vergleichen", :dictionaryForm "vergleichen"}
   {:usedForm "die", :dictionaryForm "der"}
   {:usedForm "Preise", :dictionaryForm "Preis"}
   {:usedForm "von", :dictionaryForm "von"}
   {:usedForm "verschiedenen", :dictionaryForm "verschieden"}
   {:usedForm "Produkten", :dictionaryForm "Produkt"}]},
 "herauspicken"
 {:sentence "Du musst die besten Ideen herauspicken.",
  :translation "Ты должен выбрать лучшие идеи.",
  :structure
  [{:usedForm "Du", :dictionaryForm "du"}
   {:usedForm "musst", :dictionaryForm "müssen"}
   {:usedForm "die", :dictionaryForm "der"}
   {:usedForm "besten", :dictionaryForm "gut"}
   {:usedForm "Ideen", :dictionaryForm "Idee"}
   {:usedForm "herauspicken", :dictionaryForm "herauspicken"}]},
 "zusammenbrechen"
 {:sentence "Die Brücke könnte bei starkem Wind zusammenbrechen.",
  :translation "Мост может обрушиться при сильном ветре.",
  :structure
  [{:usedForm "könnte", :dictionaryForm "können"}
   {:usedForm "die", :dictionaryForm "der"}
   {:usedForm "Brücke", :dictionaryForm "Brücke"}
   {:usedForm "bei", :dictionaryForm "bei"}
   {:usedForm "starkem", :dictionaryForm "stark"}
   {:usedForm "Wind", :dictionaryForm "Wind"}
   {:usedForm "zusammenbrechen", :dictionaryForm "zusammenbrechen"}]},
 "einzig"
 {:sentence "Er ist der einzig wahre Freund, den ich habe.",
  :translation "Он единственный настоящий друг, который у меня есть.",
  :structure
  [{:usedForm "ist", :dictionaryForm "sein"}
   {:usedForm "der", :dictionaryForm "der"}
   {:usedForm "einzig", :dictionaryForm "einzig"}
   {:usedForm "wahre", :dictionaryForm "wahr"}
   {:usedForm "Freund", :dictionaryForm "Freund"}
   {:usedForm "den", :dictionaryForm "der"}
   {:usedForm "ich", :dictionaryForm "ich"}
   {:usedForm "habe", :dictionaryForm "haben"}]},
 "ahnen"
 {:sentence "Ich ahne, dass es heute regnen wird.",
  :translation "Я предчувствую, что сегодня будет дождь.",
  :structure
  [{:usedForm "ahne", :dictionaryForm "ahnen"}
   {:usedForm "es", :dictionaryForm "es"}
   {:usedForm "regnen", :dictionaryForm "regnen"}
   {:usedForm "wird", :dictionaryForm "werden"}]},
 "wagen"
 {:sentence "Ich wage es, meine Meinung zu äußern.",
  :translation "Я осмеливаюсь высказать свое мнение.",
  :structure
  [{:usedForm "wage", :dictionaryForm "wagen"}
   {:usedForm "es", :dictionaryForm "es"}
   {:usedForm "äußern", :dictionaryForm "äußern"}]},
 "foltern"
 {:sentence
  "Die Gefangenen wurden gefoltert, um Informationen zu erhalten.",
  :translation "Заключенных пытали, чтобы получить информацию.",
  :structure
  [{:usedForm "gefoltert", :dictionaryForm "foltern"}
   {:usedForm "Die", :dictionaryForm "die"}
   {:usedForm "Gefangenen", :dictionaryForm "Gefangene"}
   {:usedForm "um", :dictionaryForm "um"}
   {:usedForm "Informationen", :dictionaryForm "Information"}
   {:usedForm "zu", :dictionaryForm "zu"}
   {:usedForm "erhalten", :dictionaryForm "erhalten"}]},
 "zwingen"
 {:sentence "Die Umstände zwangen ihn, die Wahrheit zu sagen.",
  :translation "Обстоятельства заставили его сказать правду.",
  :structure
  [{:usedForm "zwangen", :dictionaryForm "zwingen"}
   {:usedForm "die", :dictionaryForm "die"}
   {:usedForm "Umstände", :dictionaryForm "Umstand"}
   {:usedForm "ihn", :dictionaryForm "er"}
   {:usedForm "die", :dictionaryForm "die"}
   {:usedForm "Wahrheit", :dictionaryForm "Wahrheit"}
   {:usedForm "zu", :dictionaryForm "zu"}
   {:usedForm "sagen", :dictionaryForm "sagen"}]},
 "bevorstehen"
 {:sentence "Ein großes Abenteuer steht uns bevor.",
  :translation "Нас ждет большое приключение.",
  :structure
  [{:usedForm "steht", :dictionaryForm "stehen"}
   {:usedForm "uns", :dictionaryForm "wir"}
   {:usedForm "bevor", :dictionaryForm "bevorstehen"}
   {:usedForm "Ein", :dictionaryForm "ein"}
   {:usedForm "großes", :dictionaryForm "groß"}
   {:usedForm "Abenteuer", :dictionaryForm "Abenteuer"}]},
 "heimlich"
 {:sentence "Er hat heimlich das Geschenk für sie gekauft.",
  :translation "Он тайно купил подарок для неё.",
  :structure
  [{:usedForm "heimlich", :dictionaryForm "heimlich"}
   {:usedForm "hat", :dictionaryForm "haben"}
   {:usedForm "gekauft", :dictionaryForm "kaufen"}
   {:usedForm "Geschenk", :dictionaryForm "Geschenk"}
   {:usedForm "für", :dictionaryForm "für"}
   {:usedForm "sie", :dictionaryForm "sie"}]},
 "trauen"
 {:sentence "Ich traue ihm nicht, weil er oft lügt.",
  :translation "Я ему не доверяю, потому что он часто лжёт.",
  :structure
  [{:usedForm "traue", :dictionaryForm "trauen"}
   {:usedForm "ihm", :dictionaryForm "er"}
   {:usedForm "nicht", :dictionaryForm "nicht"}
   {:usedForm "weil", :dictionaryForm "weil"}
   {:usedForm "er", :dictionaryForm "er"}
   {:usedForm "lügt", :dictionaryForm "lügen"}]},
 "schmelzen"
 {:sentence "Die Schokolade schmilzt in der Sonne.",
  :translation "Шоколад тает на солнце.",
  :structure
  [{:usedForm "schmilzt", :dictionaryForm "schmelzen"}
   {:usedForm "Die", :dictionaryForm "der"}
   {:usedForm "Schokolade", :dictionaryForm "Schokolade"}
   {:usedForm "in", :dictionaryForm "in"}
   {:usedForm "der", :dictionaryForm "der"}
   {:usedForm "Sonne", :dictionaryForm "Sonne"}]},
 "es kommt nicht dazu"
 {:sentence "Es kommt nicht dazu, dass wir uns treffen können.",
  :translation "Не доходит до того, чтобы мы могли встретиться.",
  :structure
  [{:usedForm "kommt", :dictionaryForm "kommen"}
   {:usedForm "nicht", :dictionaryForm "nicht"}
   {:usedForm "dazu", :dictionaryForm "dazu"}
   {:usedForm "dass", :dictionaryForm "dass"}
   {:usedForm "wir", :dictionaryForm "wir"}
   {:usedForm "uns", :dictionaryForm "sich"}
   {:usedForm "treffen", :dictionaryForm "treffen"}
   {:usedForm "können", :dictionaryForm "können"}]},
 "lauern"
 {:sentence "Die Katze lauert im Gebüsch auf ihre Beute.",
  :translation "Кошка поджидает свою добычу в кустах.",
  :structure
  [{:usedForm "lauert", :dictionaryForm "lauern"}
   {:usedForm "Die", :dictionaryForm "der"}
   {:usedForm "Katze", :dictionaryForm "Katze"}
   {:usedForm "im", :dictionaryForm "in"}
   {:usedForm "Gebüsch", :dictionaryForm "Gebüsch"}
   {:usedForm "auf", :dictionaryForm "auf"}
   {:usedForm "ihre", :dictionaryForm "ihr"}
   {:usedForm "Beute", :dictionaryForm "Beute"}]},
 "stets"
 {:sentence "Er ist stets freundlich zu seinen Kollegen.",
  :translation "Он всегда дружелюбен к своим коллегам.",
  :structure
  [{:usedForm "stets", :dictionaryForm "stets"}
   {:usedForm "ist", :dictionaryForm "sein"}
   {:usedForm "freundlich", :dictionaryForm "freundlich"}
   {:usedForm "zu", :dictionaryForm "zu"}
   {:usedForm "seinen", :dictionaryForm "sein"}
   {:usedForm "Kollegen", :dictionaryForm "Kollege"}]},
 "abgeben"
 {:sentence "Ich werde das Paket morgen abgeben.",
  :translation "Я сдам посылку завтра.",
  :structure
  [{:usedForm "werde", :dictionaryForm "werden"}
   {:usedForm "das", :dictionaryForm "der"}
   {:usedForm "Paket", :dictionaryForm "Paket"}
   {:usedForm "morgen", :dictionaryForm "morgen"}
   {:usedForm "abgeben", :dictionaryForm "abgeben"}]},
 "ersetzen"
 {:sentence "Ich werde das defekte Teil durch ein neues ersetzen.",
  :translation "Я заменю дефектную деталь на новую.",
  :structure
  [{:usedForm "ersetzen", :dictionaryForm "ersetzen"}
   {:usedForm "werde", :dictionaryForm "werden"}
   {:usedForm "das", :dictionaryForm "der"}
   {:usedForm "defekte", :dictionaryForm "defekt"}
   {:usedForm "Teil", :dictionaryForm "Teil"}
   {:usedForm "durch", :dictionaryForm "durch"}
   {:usedForm "ein", :dictionaryForm "ein"}
   {:usedForm "neues", :dictionaryForm "neu"}]},
 "weitergeben"
 {:sentence "Bitte gib das Buch an deinen Freund weiter.",
  :translation "Пожалуйста, передай книгу своему другу.",
  :structure
  [{:usedForm "weiter", :dictionaryForm "weitergeben"}
   {:usedForm "geben", :dictionaryForm "geben"}
   {:usedForm "das", :dictionaryForm "der"}
   {:usedForm "Buch", :dictionaryForm "Buch"}
   {:usedForm "an", :dictionaryForm "an"}
   {:usedForm "deinen", :dictionaryForm "dein"}
   {:usedForm "Freund", :dictionaryForm "Freund"}]},
 "ringen"
 {:sentence "Die Kinder ringen um den Ball im Garten.",
  :translation "Дети борются за мяч в саду.",
  :structure
  [{:usedForm "ringen", :dictionaryForm "ringen"}
   {:usedForm "um", :dictionaryForm "um"}
   {:usedForm "den", :dictionaryForm "der"}
   {:usedForm "Ball", :dictionaryForm "Ball"}
   {:usedForm "im", :dictionaryForm "in"}
   {:usedForm "Garten", :dictionaryForm "Garten"}]}}
