{"antreiben" "торопить, форсировать", "einzig" "единственный", "der Umstand" "oбстоятельство", "die Weise" "способ, манера", "trauen" "осмелиться", "verbringen" "проводить, коротать", "übrig" "оставшийся, остальной", "die Ausdauer" "выносливость, выдержка"}