{:dependencies
 [[binaryage/devtools "1.0.7"]
  [cider/cider-nrepl "0.57.0"]
  [com.lambdaisland/glogi "1.3.169"]
  [funcool/promesa "11.0.678"]
  [metosin/reitit "0.9.1"]
  [philoskim/debux "0.9.1"]
  [refactor-nrepl/refactor-nrepl "3.11.0"]]

 :source-paths
 ["src/shared" "src/client" "dev/cljs"]

 :nrepl
 {:port 4444
  :middleware
  [cider.nrepl/cider-middleware
   refactor-nrepl.middleware/wrap-refactor]}

 :builds
 {:app
  {:target     :browser
   :output-dir "resources/public/js/app"
   :asset-path "/js/app"
   :modules
   {:sw
    {:entries    [sw]
     :depends-on #{:shared}
     :web-worker true}
    :sw-loader
    {:entries [sw-loader]
     :depends-on #{:shared}}
    :shared
    {:entries []}}
   :devtools
   {:devtools-url "https://sprecha.local/shadow-cljs"
    :preloads [debux.preloads]
    :watch-dir  "resources/public/css"
    :watch-path "/css"}
   :release-stubs #{debux.core}}}}
