{:dependencies
 [[binaryage/devtools "1.0.7"]
  [cheshire/cheshire "6.0.0"]
  [cider/cider-nrepl "0.57.0"]
  [com.lambdaisland/glogi "1.3.169"]
  [funcool/promesa "11.0.678"]
  [metosin/reitit "0.9.1"]
  [metosin/sieppari "0.0.0-alpha13"]
  [philoskim/debux "0.9.1"]
  [refactor-nrepl/refactor-nrepl "3.11.0"]

  ;; These dependencies keep the shared application.cljc build green.
  ;; They are not used in cljs code, but the compiler fails unless they
  ;; are present because application.cljc references the backend APIs.
  [com.taoensso/telemere "1.0.1"]
  [http-kit/http-kit "2.8.0"]]

 :source-paths
 ["src/shared" "src/client" "dev/cljs" "test"]

 :nrepl
 {:port 4444
  :middleware
  [cider.nrepl/cider-middleware
   refactor-nrepl.middleware/wrap-refactor]}

 :builds
 {:app
  {:target :browser
   :output-dir "resources/public/js/app"
   :asset-path "/js/app"
   :modules
   {:sw
    {:entries    [sw]
     :web-worker true}}
   :devtools
   {:devtools-url "https://sprecha.local/shadow-cljs"
    :preloads     [debux.preloads]
    :watch-dir    "resources/public/css"
    :watch-path   "/css"}
   :release-stubs #{debux.core}}

  :test
  {:target    :node-test
   :output-to "target/node-tests.js"
   :autorun   true
   :ns-regexp "-test$"}}}
