{"der Regelbruch"
 {:created-at 1740171790,
  :last-reviewed 1740171790,
  :forgetting-rate 0.00231,
  :translation "нарушение правил",
  :word "der Regelbruch",
  :reviews []},
 "erwischen"
 {:created-at 1740170856,
  :last-reviewed 1740172944,
  :forgetting-rate 0.0025943687597569606,
  :translation "поймать, застукать",
  :word "erwischen",
  :reviews [false true]},
 "entlassen"
 {:created-at 1740140730,
  :last-reviewed 1740152268,
  :forgetting-rate 8.35359048891287E-5,
  :translation "отпускать, освобождать",
  :word "entlassen",
  :reviews [true]},
 "der Wertgegenstand"
 {:created-at 1740172003,
  :last-reviewed 1740172003,
  :forgetting-rate 0.00231,
  :translation "ценность, ценный предмет",
  :word "der Wertgegenstand",
  :reviews []},
 "bedingen"
 {:created-at 1740170538,
  :last-reviewed 1740173223,
  :forgetting-rate 0.002657983154600267,
  :translation "обуславливать",
  :word "bedingen",
  :reviews [false false true]},
 "das Risiko"
 {:created-at 1740172096,
  :last-reviewed 1740172096,
  :forgetting-rate 0.00231,
  :translation "риск",
  :word "das Risiko",
  :reviews []},
 "auslachen"
 {:created-at 1740171672,
  :last-reviewed 1740171672,
  :forgetting-rate 0.00231,
  :translation "насмехаться",
  :word "auslachen",
  :reviews []},
 "untereinander"
 {:created-at 1740172126,
  :last-reviewed 1740172126,
  :forgetting-rate 0.00231,
  :translation "между собой",
  :word "untereinander",
  :reviews []},
 "bereiten"
 {:created-at 1740172297,
  :last-reviewed 1740172297,
  :forgetting-rate 0.00231,
  :translation "готовить, доставлять",
  :word "bereiten",
  :reviews []},
 "auftauchen"
 {:created-at 1740171695,
  :last-reviewed 1740171695,
  :forgetting-rate 0.00231,
  :translation "появляться",
  :word "auftauchen",
  :reviews []},
 "das Eigentum"
 {:created-at 1740172066,
  :last-reviewed 1740172066,
  :forgetting-rate 0.00231,
  :translation "имущество",
  :word "das Eigentum",
  :reviews []},
 "zufügen"
 {:created-at 1740172308,
  :last-reviewed 1740172308,
  :forgetting-rate 0.00231,
  :translation "причинять",
  :word "zufügen",
  :reviews []},
 "der Unterarm"
 {:created-at 1740172333,
  :last-reviewed 1740172333,
  :forgetting-rate 0.00231,
  :translation "предплечье",
  :word "der Unterarm",
  :reviews []},
 "verbringen"
 {:created-at 1740140730,
  :last-reviewed 1740152273,
  :forgetting-rate 8.35010282193713E-5,
  :translation "проводить, коротать (время)",
  :word "verbringen",
  :reviews [true true]},
 "umbringen"
 {:created-at 1740171748,
  :last-reviewed 1740171748,
  :forgetting-rate 0.00231,
  :translation "убивать",
  :word "umbringen",
  :reviews []},
 "hinbringen"
 {:created-at 1740171703,
  :last-reviewed 1740171703,
  :forgetting-rate 0.00231,
  :translation "отвести",
  :word "hinbringen",
  :reviews []},
 "der Gegensatz"
 {:created-at 1740171476,
  :last-reviewed 1740177567,
  :forgetting-rate 0.005457767277023036,
  :translation "контраст, противоречие",
  :word "der Gegensatz",
  :reviews [false false true]},
 "der Gefallen"
 {:created-at 1740171384,
  :last-reviewed 1740176330,
  :forgetting-rate 1.8591160265459233E-4,
  :translation "услуга, любезность",
  :word "der Gefallen",
  :reviews [true]},
 "gewiss"
 {:created-at 1740172225,
  :last-reviewed 1740172225,
  :forgetting-rate 0.00231,
  :translation "определённый, некий",
  :word "gewiss",
  :reviews []},
 "die Ankunft "
 {:created-at 1740172076,
  :last-reviewed 1740172076,
  :forgetting-rate 0.00231,
  :translation "прибытие",
  :word "die Ankunft ",
  :reviews []},
 "der Ratschlag"
 {:created-at 1740172149,
  :last-reviewed 1740172149,
  :forgetting-rate 0.00231,
  :translation "рекомендация",
  :word "der Ratschlag",
  :reviews []},
 "herausholen"
 {:created-at 1740171487,
  :last-reviewed 1740171487,
  :forgetting-rate 0.00231,
  :translation "вытащить",
  :word "herausholen",
  :reviews []},
 "kaum"
 {:created-at 1740171885,
  :last-reviewed 1740171885,
  :forgetting-rate 0.00231,
  :translation "едва, почти",
  :word "kaum",
  :reviews []},
 "profitieren"
 {:created-at 1740171416,
  :last-reviewed 1740175060,
  :forgetting-rate 0.0017906699120943863,
  :translation "получать выгоду",
  :word "profitieren",
  :reviews [false true]},
 "verhalten"
 {:created-at 1740172132,
  :last-reviewed 1740172132,
  :forgetting-rate 0.00231,
  :translation "вести себя",
  :word "verhalten",
  :reviews []},
 "der Haufen"
 {:created-at 1740172012,
  :last-reviewed 1740172012,
  :forgetting-rate 0.00231,
  :translation "куча",
  :word "der Haufen",
  :reviews []},
 "eingehen"
 {:created-at 1740171232,
  :last-reviewed 1740172796,
  :forgetting-rate 5.007760945534638E-4,
  :translation "входить, рискнуть",
  :word "eingehen",
  :reviews [true]},
 "grausam"
 {:created-at 1740171662,
  :last-reviewed 1740171662,
  :forgetting-rate 0.00231,
  :translation "жестокий",
  :word "grausam",
  :reviews []},
 "die Erziehung"
 {:created-at 1740170621,
  :last-reviewed 1740173788,
  :forgetting-rate 0.0021438515081206493,
  :translation "воспитание",
  :word "die Erziehung",
  :reviews [false true]},
 "sanft"
 {:created-at 1740172263,
  :last-reviewed 1740172263,
  :forgetting-rate 0.00231,
  :translation "мягкий, нежный",
  :word "sanft",
  :reviews []},
 "die Tinte"
 {:created-at 1740172235,
  :last-reviewed 1740172235,
  :forgetting-rate 0.00231,
  :translation "чернила",
  :word "die Tinte",
  :reviews []},
 "begehen"
 {:created-at 1740171780,
  :last-reviewed 1740171780,
  :forgetting-rate 0.00231,
  :translation "совершать",
  :word "begehen",
  :reviews []},
 "der Lohnarbeiter "
 {:created-at 1740171970,
  :last-reviewed 1740171970,
  :forgetting-rate 0.00231,
  :translation "наёмный рабочий",
  :word "der Lohnarbeiter ",
  :reviews []},
 "übrig"
 {:created-at 1740140730,
  :last-reviewed 1740152261,
  :forgetting-rate 8.358478120145704E-5,
  :translation "оставшийся, остальной",
  :word "übrig",
  :reviews [true]},
 "gegenseitig"
 {:created-at 1740172103,
  :last-reviewed 1740172103,
  :forgetting-rate 0.00231,
  :translation "взаимный",
  :word "gegenseitig",
  :reviews []},
 "erniedrigen"
 {:created-at 1740171850,
  :last-reviewed 1740171850,
  :forgetting-rate 0.00231,
  :translation "унижать",
  :word "erniedrigen",
  :reviews []},
 "anpassen"
 {:created-at 1740172245,
  :last-reviewed 1740172245,
  :forgetting-rate 0.00231,
  :translation "приспосабливаться",
  :word "anpassen",
  :reviews []},
 "unfassbar"
 {:created-at 1740170689,
  :last-reviewed 1740173886,
  :forgetting-rate 0.0013803571001744866,
  :translation "непостижимый",
  :word "unfassbar",
  :reviews [false true]},
 "der Geschlechtsverkehr"
 {:created-at 1740171443,
  :last-reviewed 1740176115,
  :forgetting-rate 8.042139417971918E-4,
  :translation "половое сношение",
  :word "der Geschlechtsverkehr",
  :reviews [false true]},
 "senken"
 {:created-at 1740171717,
  :last-reviewed 1740171717,
  :forgetting-rate 0.00231,
  :translation "опускать",
  :word "senken",
  :reviews []},
 "vertrauen"
 {:created-at 1740172166,
  :last-reviewed 1740172166,
  :forgetting-rate 0.00231,
  :translation "доверять",
  :word "vertrauen",
  :reviews []},
 "zusätzlich"
 {:created-at 1740171428,
  :last-reviewed 1740175906,
  :forgetting-rate 2.036286448205159E-4,
  :translation "дополнительный",
  :word "zusätzlich",
  :reviews [true]},
 "die Erschöpfung "
 {:created-at 1740171823,
  :last-reviewed 1740171823,
  :forgetting-rate 0.00231,
  :translation "истощение",
  :word "die Erschöpfung ",
  :reviews []},
 "mehrfach"
 {:created-at 1740172111,
  :last-reviewed 1740172111,
  :forgetting-rate 0.00231,
  :translation "многократный",
  :word "mehrfach",
  :reviews []},
 "die Unterkunft"
 {:created-at 1740172193,
  :last-reviewed 1740172193,
  :forgetting-rate 0.00231,
  :translation "жильё, кров",
  :word "die Unterkunft",
  :reviews []},
 "begeben"
 {:created-at 1740171333,
  :last-reviewed 1740173699,
  :forgetting-rate 0.0014235884288760431,
  :translation "отправляться, случаться",
  :word "begeben",
  :reviews [false true]},
 "vergleichen"
 {:created-at 1740171684,
  :last-reviewed 1740171684,
  :forgetting-rate 0.00231,
  :translation "сравнивать",
  :word "vergleichen",
  :reviews []},
 "die Kammer"
 {:created-at 1740172180,
  :last-reviewed 1740172180,
  :forgetting-rate 0.00231,
  :translation "камера, коморка",
  :word "die Kammer",
  :reviews []},
 "herauspicken"
 {:created-at 1740171653,
  :last-reviewed 1740171653,
  :forgetting-rate 0.00231,
  :translation "выбирать, отбирать",
  :word "herauspicken",
  :reviews []},
 "die Weile"
 {:created-at 1740153983,
  :last-reviewed 1740173873,
  :forgetting-rate 4.920557492773597E-5,
  :translation "некоторое время",
  :word "die Weile",
  :reviews [true]},
 "zusammenbrechen"
 {:created-at 1740171810,
  :last-reviewed 1740171810,
  :forgetting-rate 0.00231,
  :translation "надорваться, ослабеть",
  :word "zusammenbrechen",
  :reviews []},
 "einzig"
 {:created-at 1740140730,
  :last-reviewed 1740152284,
  :forgetting-rate 8.34244019626042E-5,
  :translation "единственный",
  :word "einzig",
  :reviews [true]},
 "die Ausdauer"
 {:created-at 1740170598,
  :last-reviewed 1740177518,
  :forgetting-rate 2.6101311506158666E-4,
  :translation "выносливость",
  :word "die Ausdauer",
  :reviews [false false true true]},
 "die Weise"
 {:created-at 1740171394,
  :last-reviewed 1740175068,
  :forgetting-rate 2.4349263303024998E-4,
  :translation "способ, манера",
  :word "die Weise",
  :reviews [true]},
 "die Schwerstarbeit"
 {:created-at 1740171896,
  :last-reviewed 1740171896,
  :forgetting-rate 0.00231,
  :translation "тяжёлая работа",
  :word "die Schwerstarbeit",
  :reviews []},
 "wagen"
 {:created-at 1740171833,
  :last-reviewed 1740171833,
  :forgetting-rate 0.00231,
  :translation "осмелиться",
  :word "wagen",
  :reviews []},
 "foltern"
 {:created-at 1740171537,
  :last-reviewed 1740171537,
  :forgetting-rate 0.00231,
  :translation "пытать, истязать",
  :word "foltern",
  :reviews []},
 "zwingen"
 {:created-at 1740171522,
  :last-reviewed 1740171522,
  :forgetting-rate 0.00231,
  :translation "принуждать",
  :word "zwingen",
  :reviews []},
 "bevorstehen"
 {:created-at 1740140730,
  :last-reviewed 1740152282,
  :forgetting-rate 8.343832354708955E-5,
  :translation "предстоять, угрожать",
  :word "bevorstehen",
  :reviews [true]},
 "heimlich"
 {:created-at 1740172201,
  :last-reviewed 1740172201,
  :forgetting-rate 0.00231,
  :translation "тайный",
  :word "heimlich",
  :reviews []},
 "trauen"
 {:created-at 1740140730,
  :last-reviewed 1740152264,
  :forgetting-rate 8.356382720881623E-5,
  :translation "осмелиться",
  :word "trauen",
  :reviews [true]},
 "schmelzen"
 {:created-at 1740170658,
  :last-reviewed 1740172566,
  :forgetting-rate 4.271860459955469E-4,
  :translation "таять, плавиться",
  :word "schmelzen",
  :reviews [true]},
 "lauern"
 {:created-at 1740171863,
  :last-reviewed 1740171863,
  :forgetting-rate 0.00231,
  :translation "поджидать, подстерегать",
  :word "lauern",
  :reviews []},
 "stets"
 {:created-at 1740171740,
  :last-reviewed 1740171740,
  :forgetting-rate 0.00231,
  :translation "в любое время, постоянно",
  :word "stets",
  :reviews []},
 "abgeben"
 {:created-at 1740172030,
  :last-reviewed 1740172030,
  :forgetting-rate 0.00231,
  :translation "отдавать",
  :word "abgeben",
  :reviews []},
 "erröten"
 {:created-at 1740170718,
  :last-reviewed 1740173183,
  :forgetting-rate 0.001630124129365522,
  :translation "залиться румянцем",
  :word "erröten",
  :reviews [false true]},
 "ersetzen"
 {:created-at 1740172321,
  :last-reviewed 1740172321,
  :forgetting-rate 0.00231,
  :translation "заменять, подменять",
  :word "ersetzen",
  :reviews []},
 "weitergeben"
 {:created-at 1740171984,
  :last-reviewed 1740171984,
  :forgetting-rate 0.00231,
  :translation "передавать",
  :word "weitergeben",
  :reviews []},
 "willkürlich"
 {:created-at 1740172087,
  :last-reviewed 1740172087,
  :forgetting-rate 0.00231,
  :translation "произвольный",
  :word "willkürlich",
  :reviews []},
 "verprügeln"
 {:created-at 1740171459,
  :last-reviewed 1740177498,
  :forgetting-rate 0.0031902992804563094,
  :translation "избивать",
  :word "verprügeln",
  :reviews [false true]},
 "der Vorteil"
 {:created-at 1740172213,
  :last-reviewed 1740172213,
  :forgetting-rate 0.00231,
  :translation "преимущество",
  :word "der Vorteil",
  :reviews []},
 "der Hoden"
 {:created-at 1740171624,
  :last-reviewed 1740171624,
  :forgetting-rate 0.00231,
  :translation "яичко",
  :word "der Hoden",
  :reviews []},
 "ringen"
 {:created-at 1740172268,
  :last-reviewed 1740172268,
  :forgetting-rate 0.00231,
  :translation "бороться",
  :word "ringen",
  :reviews []}}
