{"trauen"
 {:created-at 1739464208,
  :last-reviewed 1740073087,
  :forgetting-rate 0.0015910068081600004,
  :translation "осмелиться",
  :word "trauen",
  :reviews [true true true false false true true true true]},
 "verbringen"
 {:created-at 1739464208,
  :last-reviewed 1740073079,
  :forgetting-rate 0.003920680210114439,
  :translation "проводить, коротать (время)",
  :word "verbringen",
  :reviews [true true true true false true true true true]},
 "übrig"
 {:created-at 1739464361,
  :last-reviewed 1740073083,
  :forgetting-rate 0.0017677853424000003,
  :translation "оставшийся, остальной",
  :word "übrig",
  :reviews [true true false false true true true true]},
 "einzig"
 {:created-at 1739464410,
  :last-reviewed 1740073073,
  :forgetting-rate 0.0010739295955080003,
  :translation "единственный",
  :word "einzig",
  :reviews [true true true true false true true true true true]},
 "bevorstehen"
 {:created-at 1739464893,
  :last-reviewed 1740073104,
  :forgetting-rate 0.002545610893056,
  :translation "предстоять, угрожать",
  :word "bevorstehen",
  :reviews [true true false false false false true true true true]},
 "entlassen"
 {:created-at 1739465035,
  :last-reviewed 1740073095,
  :forgetting-rate 0.0024050524419850206,
  :translation "отпускать, освобождать",
  :word "entlassen",
  :reviews
  [false
   true
   true
   true
   true
   false
   true
   false
   false
   false
   false
   true
   true
   true
   true
   true]}}
