{:lint-as {learning-app/on-connection clojure.core/with-open
           learning-app/defres        clojure.core/def
           promesa.core/doseq         clojure.core/doseq
           promesa.core/let           clojure.core/let}

 ;; Clj-kondo will output the language context for each error in the .cljc file:
 :output        {:langs true}
 ;; Do not lint `(comment ,,,)` form
 :skip-comments true}
