:root {
  --color-snow: 255, 255, 255;
  --color-snow-always-light: 255, 255, 255;
  --color-snow-always-dark: 19, 31, 36;
  --color-polar: 247, 247, 247;
  --color-swan: 229, 229, 229;
  --color-swan-always-light: 229, 229, 229;
  --color-swan-always-dark: 55, 70, 79;
  --color-hare: 175, 175, 175;
  --color-hare-always-light: 175, 175, 175;
  --color-wolf: 119, 119, 119;
  --color-eel: 75, 75, 75;
  --color-black-text: 60, 60, 60;
  --color-gray-text: 153, 153, 153;
  --color-squid: 235, 227, 227;
  --color-walking-fish: 255, 223, 224;
  --color-flamingo: 255, 178, 178;
  --color-pig: 245, 164, 164;
  --color-crab: 255, 120, 120;
  --color-cardinal: 255, 75, 75;
  --color-fire-ant: 234, 43, 43;
  --color-canary: 255, 245, 211;
  --color-duck: 251, 229, 109;
  --color-bee: 255, 200, 0;
  --color-bee-always-dark: 255, 199, 0;
  --color-lion: 255, 177, 0;
  --color-fox: 255, 150, 0;
  --color-cheetah: 255, 206, 142;
  --color-monkey: 229, 162, 89;
  --color-camel: 231, 166, 1;
  --color-guinea-pig: 205, 121, 0;
  --color-grizzly: 187, 113, 73;
  --color-sea-sponge: 215, 255, 184;
  --color-turtle: 165, 237, 110;
  --color-owl: 88, 204, 2;
  --color-tree-frog: 88, 167, 0;
  --color-peacock: 0, 205, 156;
  --color-iguana: 221, 244, 255;
  --color-anchovy: 210, 228, 232;
  --color-beluga: 187, 242, 255;
  --color-moon-jelly: 122, 240, 242;
  --color-blue-jay: 132, 216, 255;
  --color-macaw: 28, 176, 246;
  --color-whale: 24, 153, 214;
  --color-walking-fish: 255, 223, 224;
  --color-humpback: 43, 112, 201;
  --color-narwhal: 20, 83, 163;
  --color-manta-ray: 4, 44, 96;
  --color-starfish: 255, 134, 208;
  --color-beetle: 206, 130, 255;
  --color-betta: 144, 105, 205;
  --color-butterfly: 111, 78, 161;
  --color-dragon: 204, 52, 141;
  --color-starling: 92, 108, 252;
  --color-martin: 71, 85, 223;
  --color-grackle: 167, 160, 255;
  --color-honeycreeper: 193, 187, 255;
  --color-deep-starling: 34, 33, 81;
  --color-deep-martin: 16, 15, 62;
  --color-legendary-foreground: 140, 65, 3;
  --color-stardust: 199, 255, 254;
  --color-cosmos: 60, 77, 255;
  --color-nebula: 63, 34, 236;
  --color-nova: 207, 23, 200;
  --color-gamma: 38, 246, 99;
  --color-starlight: 38, 138, 255;
  --color-quasar: 252, 85, 255;
  --color-celestia: 255, 255, 255;
  --color-eclipse: 0, 4, 55;
  --color-black: 0, 0, 0;
  --color-aqua: 56, 238, 255;
  --color-aqua-always-light: 56, 238, 255;
  --color-ocean: 0, 124, 143;
  --color-seafoam: 158, 224, 233;
  --color-ice: 225, 253, 255;
  --color-max-shadow: 20, 208, 225;
  --color-black-white: 0, 0, 0;
  --color-diamond-stat: 86, 219, 226;
  --color-mask-green: 137, 226, 25;
  --color-pearl-stat: 255, 170, 222;
  --color-snow-dark-swan: 255, 255, 255;
  --color-black-text: 60, 60, 60;
  --color-blue-space: 11, 62, 113;
  --color-juicy-blue-space: 10, 74, 130;
  --color-juicy-blue-space-light: 35, 83, 144;
  --color-gold: 250, 169, 25;
  --color-gray-text: 153, 153, 153;
  --color-orange: 255, 157, 0;
  --color-diamond-highlight: 231, 251, 251;
  --color-diamond: 56, 208, 208;
  --color-banana: 255, 176, 32;
  --color-cloud: 207, 207, 207;
  --color-cloud-light: 221, 221, 221;
  --color-cloud-lightest: 240, 240, 240;
  --color-kiwi: 122, 199, 12;
  --color-kiwi-dark: 93, 151, 9;
  --color-kiwi-light: 142, 224, 0;
  --color-roseate: 223, 75, 162;
  --color-rosefinch: 180, 28, 117;
  --color-bluebird: 3, 144, 211;
  --color-cotinga: 121, 58, 227;
  --color-sabrewing: 165, 112, 255;
  --color-blueberry: 17, 82, 167;
  --color-ether: 60, 89, 141;
  --color-ultra-violet: 97, 33, 194;
}
