*,
:after,
:before,
button,
button:focus,
input,
textarea {
  -webkit-tap-highlight-color: transparent;
  box-sizing: inherit;
  font-family: Nunito, sans-serif;
  outline: none;
}

@media (min-width: 700px) {
  *,
  :after,
  :before,
  button,
  button:focus,
  input,
  textarea {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    user-select: auto;
  }
}

form {
  margin: 0;
}

input,
textarea {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  user-select: auto;
}

[dir=ltr] {
  text-align: initial;
}

[dir=rtl] {
  font-kerning: none;
}

::-moz-placeholder {
  color: rgb(var(--color-hare));
  font-weight: 500;
  opacity: 1;
}

::placeholder {
  color: rgb(var(--color-hare));
  font-weight: 500;
  opacity: 1;
}

html {
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  overflow-y: auto;
  touch-action: manipulation;
}

@media (min-width: 700px) {
  html {
    -webkit-overflow-scrolling: auto;
  }
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: rgb(var(--color-snow));
  color: rgb(var(--color-black-text));
  font: 500 17px/20px sans-serif;
  margin: 0;
}

@media (min-width: 700px) {
  body {
    padding-bottom: var(--onetrust-banner-height, 0);
  }
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
}

label {
  cursor: pointer;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 50px;
}

h1,
h2 {
  font-weight: 700;
}

h2 {
  font-size: 24px;
  line-height: 26px;
  margin: 0 0 25px;
}

h3 {
  font-size: 19px;
  font-weight: 700;
}

h3,
h4 {
  margin: 0 0 10px;
}

h4 {
  color: rgb(var(--color-black-text));
  font-size: 18px;
}

h5 {
  font-size: 15px;
  margin: 0 0 10px;
}

h5,
h6 {
  font-weight: 700;
}

h6 {
  color: rgb(var(--color-gray-text));
  font-size: 13px;
  margin: 0;
  text-transform: uppercase;
}

hr {
  border: 0;
  border-top: 2px solid rgb(var(--color-swan));
  height: 0;
  margin: 40px 0;
}

p {
  margin: 0 0 18px;
}

table {
  border-spacing: 0;
}

td,
th {
  line-height: 22px;
  padding: 12px 16px;
  text-align: left;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  background: rgb(var(--color-snow));
  border: 2px solid rgb(var(--color-swan));
  border-radius: 5px;
  cursor: pointer;
  height: 20px;
  margin: 0;
  position: relative;
  width: 20px;
}

input[type="checkbox"]:checked {
  border-color: rgb(var(--color-macaw));
}

input[type="checkbox"]:checked:after {
  border-bottom: 3px solid rgb(var(--color-macaw));
  border-left: 3px solid rgb(var(--color-macaw));
  content: "";
  height: 35%;
  left: 25%;
  position: absolute;
  top: 31%;
  transform: rotate(-45deg);
  width: 55%;
}

input[type="radio"] {
  cursor: pointer;
  margin: 0;
  opacity: 0;
}

input[type="email"],
input[type="password"],
input[type="radio"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"] {
  -webkit-appearance: none;
}

input {
  box-shadow: none;
}
