/* nunito-200 - cyrillic_latin */
@font-face {
  font-display: optional;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/Nunito/nunito-v26-cyrillic_latin-200.woff2") format("woff2");
}

/* nunito-200italic - cyrillic_latin */
@font-face {
  font-display: optional;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 200;
  src: url("/fonts/Nunito/nunito-v26-cyrillic_latin-200italic.woff2") format("woff2");
}

/* nunito-300 - cyrillic_latin */
@font-face {
  font-display: optional;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Nunito/nunito-v26-cyrillic_latin-300.woff2") format("woff2");
}

/* nunito-300italic - cyrillic_latin */
@font-face {
  font-display: optional;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/Nunito/nunito-v26-cyrillic_latin-300italic.woff2") format("woff2");
}

/* nunito-regular - cyrillic_latin */
@font-face {
  font-display: optional;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Nunito/nunito-v26-cyrillic_latin-regular.woff2") format("woff2");
}

/* nunito-italic - cyrillic_latin */
@font-face {
  font-display: optional;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/Nunito/nunito-v26-cyrillic_latin-italic.woff2") format("woff2");
}

/* nunito-500 - cyrillic_latin */
@font-face {
  font-display: optional;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Nunito/nunito-v26-cyrillic_latin-500.woff2") format("woff2");
}

/* nunito-500italic - cyrillic_latin */
@font-face {
  font-display: optional;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/Nunito/nunito-v26-cyrillic_latin-500italic.woff2") format("woff2");
}

/* nunito-600 - cyrillic_latin */
@font-face {
  font-display: optional;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Nunito/nunito-v26-cyrillic_latin-600.woff2") format("woff2");
}

/* nunito-600italic - cyrillic_latin */
@font-face {
  font-display: optional;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/Nunito/nunito-v26-cyrillic_latin-600italic.woff2") format("woff2");
}

/* nunito-700 - cyrillic_latin */
@font-face {
  font-display: optional;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Nunito/nunito-v26-cyrillic_latin-700.woff2") format("woff2");
}

/* nunito-700italic - cyrillic_latin */
@font-face {
  font-display: optional;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/Nunito/nunito-v26-cyrillic_latin-700italic.woff2") format("woff2");
}

/* nunito-800 - cyrillic_latin */
@font-face {
  font-display: optional;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Nunito/nunito-v26-cyrillic_latin-800.woff2") format("woff2");
}

/* nunito-800italic - cyrillic_latin */
@font-face {
  font-display: optional;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  src: url("/fonts/Nunito/nunito-v26-cyrillic_latin-800italic.woff2") format("woff2");
}

/* nunito-900 - cyrillic_latin */
@font-face {
  font-display: optional;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Nunito/nunito-v26-cyrillic_latin-900.woff2") format("woff2");
}

/* nunito-900italic - cyrillic_latin */
@font-face {
  font-display: optional;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 900;
  src: url("/fonts/Nunito/nunito-v26-cyrillic_latin-900italic.woff2") format("woff2");
}

:root {
  --text-body-casing: none;
  --text-body-letter-spacing: 0;
  --text-body-line-height: 1.75rem;
  --text-body-size: 1.25rem;
  --text-body-weight: 500;
  --text-body-weight-bold: 700;
  --text-body-casing-spacious: none;
  --text-body-letter-spacing-spacious: 0;
  --text-body-line-height-spacious: 2rem;
  --text-body-size-spacious: 1.25rem;
  --text-body-weight-spacious: 500;
  --text-body-weight-spacious-bold: 700;
}
